<%= stylesheet_link_tag "style" %>
<% if @messages.blank? %>
  No generated messages.
<% else %>
  <table class="round full table-grid">
    <thead>
      <th>Status</th>
      <th>Phone</th>
      <th>User</th>
      <th>Place</th>
      <th>Text</th>
    </thead>
    <% @messages.each_with_index do |message, i| %>
      <tr class="<%= i.parity %>">
        <td><%= message.with_indifferent_access['state'] %></td>
        <td><%= message.with_indifferent_access['to'].without_protocol %></td>
        <td><%= message.with_indifferent_access['user'].try(:user_name) %></td>
        <td><%= message.with_indifferent_access['user'].try(:place).try(:description) %></td>
        <td><%= message.with_indifferent_access['body'] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
